<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Sanity Suite" parallel="tests">
	<test name="Sanity Tests">
		<classes>
			<class name="com.elevate.LoginScreenTests" />

		</classes>
	</test> <!-- Sanity Tests -->
</suite> <!-- Sanity Suite -->
